{% extends "base/index.html"%}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'orders/orders.css' %}">
{% endblock %}


	{% block content %}
    <div class="col-md-10">
    <div class="order_details">

      {% if messages %}
	
      <div class="alert alert-success  alert-dismissible fade show" role="alert">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      </div>
        {% endif %}
        <h2 class="display-5">Orders</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order details order-id  </th>
                <th scope="col">Time  </th>
                <th scope="col">Status </th>
                
              </tr>
              {% for order in orders  %}
             
             
              </thead>
            <tbody class="t_body">
              
              <tr class="order_head">
                <th scope="col"> <b>{{order.order_id}}</b></th>
                <th scope="col"><b>{{order.order_time}}</b></th>
                <th>
                  <p>
                    {% if order.is_delivered %}
                      Delivered 
                    {% else %}
                      not delivered 
                    {% endif %} 
                  </p>
                </th>
              </tr>

              {% for item in order.ordereditems_set.all %}
              <tr class="detail_row">
                <td>
                  <a href="{% url 'menus:item' item.item.id %}">
                    {{item}} 
                  </a> 
                </td>
                <td>
                  {% if item.quantity %}
                  {{item.item.price}}
                  x{{item.quantity}} items
                  {% endif %}
                </td>
                <td>
                  {{item.total_price}}
                </td>
               
              </tr>
         
              {% endfor %}
              <tr>
                <td class="order_total">Order Total </td>
                <td colspan="2"><b>{{order.total_price}}</b></td>
              </tr>
              
            </tbody>
            {% endfor %}
          </table>
    </div>
</div>
    {% endblock %}