{% extends "base/index.html"%}
{% load static %}
	{% block content %}
    <div class="col-md-6">
    <div class="order_details">

      {% if messages %}
	
      <div class="alert alert-success  alert-dismissible fade show" role="alert">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      </div>
        {% endif %}
        <h2 class="display-5">Orders</h2>
        <table class="table table-hover">
            <thead>
              {% for order in orders  %}
              <tr>
                <th scope="col">Order details order-id : <b>{{order.order_id}}</b></th>
                <th scope="col"><b>{{order.order_time}}</b></th>
                <th>
                  <p>status :  
                    {% if order.is_delivered %}
                      Delivered 
                    {% else %}
                      not delivered 
                    {% endif %} 
                  </p>
                </th>
              </tr>
              </thead>
            <tbody>
             

              {% for item in order.ordereditems_set.all %}
              <tr>
                <a href="{% url 'menus:item' item.item.id %}">
                  <td>{{item}}</td>
                </a>
              </tr>
              {% endfor %}
              
            </tbody>
            {% endfor %}
          </table>
    </div>
</div>
    {% endblock %}